<h1> Meditation Centre Information </h1>

<table style="width:100%">
  <tr>
	<th> <a href="/welcome/index">Home</a> </th>
    <th> <a href="/centre/info">Centre Information</a> </th>
    <th> <a href="/course/info">Course Information</a> </th>
	<th> <a href="/register/now">Register</a> </th>
    <th> <a href="/account/index">Account</a> </th>
  </tr>
</table>

<h2> Centre Features </h2>
<p>
  -  Seperated from society. 2 Hours away from closest city
  <br>
  -  Vegetatarian meals served only
  <br>
  -  Segregated Genders for no distractions
  <br>
  -  Up to 26 people per gender per course
<br>

</p>
