<h1>Session</h1>
<h2 class='User_Header'> Profile: <%=@current_user.username%> <h2>
<h2 class='User_Header'> Email: <%=@current_user.email%> <h2>
<h2 class='User_Header'> Age: <%=@current_user.age%> <h2>
<h2 class='User_Header'> Gender: <%=@current_user.gender%> <h2>
<a href="/welcome/index">Home</a>
<a href="/logout">Logout</a>