<h1> Meditation Course Information </h1>

<table style="width:100%">
  <tr>
	<th> <a href="/">Home</a> </th>
    <th> <a href="/centre/info">Centre Information</a> </th>
    <th> <a href="/course/info">Course Information</a> </th>
	<th> <a href="/register/now">Register</a> </th>
    <th> <a href="/account/index">Account</a> </th>
  </tr>
</table>


<h2> 10 Day Course </h2>
<p>
This Course runs for 10 days.
<br>
This is the only course available for new Students.
<br>
Apply now by clicking the account button.
<br>
<br>
</p>
<h2> 3 Day Course </h2>
<p>
This Course runs for 3 days.
<br>
This course is only available for old students.
<br>
Apply now by clicking the account button.
<br>
<br>
</p>
<h2> 30 Day Course </h2>
This Course runs for 30 days.
<br>
This course is only available for old students.
<br>
Apply now by clicking the account button.
<br>
<br>
</p>