<h1> Meditation Course Information </h1>

<table style="width:100%">
  <tr>
	<th> <a href="/welcome/index">Home</a> </th>
    <th> <a href="/centre/info">Centre Information</a> </th>
    <th> <a href="/course/info">Course Information</a> </th>
	<th> <a href="/register/now">Register</a> </th>
    <th> <a href="/account/index">Account</a> </th>
  </tr>
</table>

<p>
Understand:
What is meditation.
<br>

<br>
Prepare:
Know what is required.
<br>

<br>
Connect:
Meet like minded individuals
</p>